<!--
    Marcos Rivera
    IT 328 Full Stack
    Dating Assignment
    https://marcosrivera.greenriverdev.com/328/dating/
-->
<include href="views/header.html">
<div class="container fluid border" id="content-border">
    <div class="row" id="site-content">
        <div class="col">
            <br><h1 class="text-center">Light My Spark Dating</h1>
            <p>Welcome to the web's most successful dating website! At <strong>Light My Spark</strong>
            you'll meet like minded individuals! We have the highest success rate
            of couples on the web. User's are matched by interests and location!
            Find out why so many others have found love on our site!</p>
            <h5 class="text-center">Hear what our users are saying about us!</h5>
            <p class=" border-bottom border-top font-italic">"I met the love of my life
                after only a month!" - Alfonso <br><br>"It was so easy to set up a profile
                and start meeting people! I didn't realize how many others were looking
                for love in my area." - Slippy <br><br>"Just try it! You'll never be the same!"
                - Clank
            </p>
            <div class="text-center">
                <a href="personal"><button class="btn btn-primary">Create A Profile!</button></a>
            </div>
        </div>
        <div class="img-fluid row">
            <div class="col">
            <img class="img-fluid" src="images/spark.jpg" id="spark" alt="person holding sparkler">
            </div>
        </div>
    </div>
</div>
