<include href="views/header.html">
    <div class="container fluid border" id="content-border">
        <h1>Interests</h1>
            <hr>
            <form method="post" action="#" class="col-12">
                <label>In-door Activities</label>
                <div class="form-group">
                    <repeat group="{{ @indoorInterests }}" value="{{ @indoorChoice }}">
                    <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="{{ @indoorChoice }}" value="{{ @indoorChoice }}" name="indoorInterests"
                            <check if="{{ isset(@selectedIndoorInterests) && in_array(@indoorChoice, @selectedIndoorInterests) }}">
                                checked="checked"
                            </check>
                            ><label class="form-check-label" for="{{ @indoorChoice }}">{{ @indoorChoice }}</label>
                    </div>
                    </repeat>
                </div>

                <label>Outdoor Activities</label>
                <div class="form-group">
                    <div class="form-group">
                        <repeat group="{{ @outdoorInterests }}" value="{{ @outdoorChoice }}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="{{ @outdoorChoice }}" value="{{ @outdoorChoice }}" name="outdoorInterests"
                                <check if="{{ isset(@selectedOutdoorInterests) && in_array(@outdoorChoice, @selectedOutdoorInterests) }}">
                                    checked="checked"
                                </check>
                                ><label class="form-check-label" for="{{ @outdoorChoice }}">{{ @outdoorChoice }}</label>
                            </div>
                        </repeat>
                    </div>
                <div class="row">

                </div>
                <check if="{{ @errors['activities'] }}">
                    <span class="err">{{ @errors['activities'] }}</span>
                </check><br><br>
                <div class="form-group">
                    <button class="btn btn-primary float-right" type="submit">Next >></button>
                </div>
            </form>
        </div>
    </div>
<include href="views/footer.html">