<include href="views/header.html">
    <div class="container fluid border" id="content-border">
        <div class="row">
            <h1>Personal Information</h1>
            <hr>
            <form method="post" action="#" class="col-12">
                <div class="row">
                    <div class="col order-12">
                        <div class="alert alert-dark" role="alert">
                            <strong>Note: </strong> All information entered is protected
                            by our <a href="#">privacy policy</a>. Profile information
                            can only be viewed by others with your
                            permission.
                        </div>
                    </div>
                    <div class="col order-1">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input type="text" class="form-control" name="fname" value="{{ @fname }}">
                            <check if="{{ @errors['fname'] }}">
                                <span class="err">{{ @errors['fname'] }}</span>
                            </check><br><br>
                        </div>
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" name="lname" value="{{ @lname }}">
                            <check if="{{ @errors['lname'] }}">
                                <span class="err">{{ @errors['lname'] }}</span>
                            </check><br><br>
                        </div>

                        <div class="form-group">
                            <label>Age</label>
                            <input type="text" class="form-control" name="age" value="{{ @age }}">
                            <check if="{{ @errors['age'] }}">
                                <span class="err">{{ @errors['age'] }}</span>
                            </check><br><br>
                        </div>

                        <label>Gender</label>
                        <div class="form-group">
                            <repeat group="{{ @genders }}" value="{{ @genderOption }}">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"
                                                  class="custom-control-input" id="{{ @genderOption }}"
                                                  name="gender"
                                                  value="{{ @genderOption }}"

                                        <check if="{{ @gender == @genderOption }}">
                                            checked="checked"
                                        </check>

                                        ><label class="custom-control-label" for="{{ @genderOption }}">{{ @genderOption }}
                                    </label><br>
                                </div>
                            </repeat>
                        </div>

                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" name="phone">
                            <check if="{{ @errors['phone'] }}">
                                <span class="err">{{ @errors['phone'] }}</span>
                            </check><br><br>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary float-right" type="submit">Next >></button>
                </div>
            </form>
        </div>
    </div>
<include href="views/footer.html">