<include href="views/header.html">
    <div class="container fluid border" id="content-border">
        <div class="row">
            <h1>Profile</h1>
            <hr>
            <form method="post" action="#" class="col-12">
                <div class="row">
                    <div class="col order-12">
                        <div class="form-group">
                            <label for="bio">Biography</label>
                            <textarea class="form-control" id="bio" rows="3" name="bio">{{ @bio }}</textarea>
                        </div>
                    </div>
                    <div class="col order-1">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ @email }}">
                            <check if="{{ @errors['email'] }}">
                                <span class="err">{{ @errors['email'] }}</span>
                            </check><br><br>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control" name="state">
                                <option value="select">Select</option>
                                <repeat group="{{ @states }}" key="{{ @key }}" value="{{ @value }}">
                                    <check if="{{ @state == @key }}">
                                        <true><option value="{{ @value }}" selected>{{ @value }}</option></true>
                                        <false><option value="{{ @value }}">{{ @value }}</option></false>
                                    </check>
                                </repeat>
                            </select>
                        </div>

                        <label>Seeking</label>
                        <div class="form-group">
                            <repeat group="{{ @genders }}" value="{{ @genderSeek }}">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"
                                           class="custom-control-input" id="{{ @genderSeek }}"
                                           name="seek"
                                           value="{{ @genderSeek }}"

                                    <check if="{{ @seek == @genderSeek }}">
                                        checked="checked"
                                    </check>

                                    ><label class="custom-control-label" for="{{ @genderSeek }}">{{ @genderSeek }}
                                </label><br>
                                </div>
                            </repeat>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary float-right" type="submit">Next >></button>
                </div>
            </form>
        </div>
    </div>
<include href="views/footer.html">